*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, pink, #e29ca9);
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
.box1{
    width: 400px;
    height: 520px;
    background-color: white;
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.top{
    width: 400px;
    height: 200px;
    background-color: #e29ca9;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
}
.top *::selection{
    background-color: white;
    color: #e29ca9;
}
.title{
    line-height: 200px;
    color: white;
    font-size: 38px;
    font-weight: lighter;
}
.bottom{
    margin-top: 35px;
    width: 400px;
    height: auto;
    text-align: center;
}
.bottom *::selection{
    background-color: #e29ca9;
    color: white;
}
.bottom .input{
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    border: solid 1px #757575;
    border-radius: 30px;
    text-indent: 2em; 
}
.bottom .input:focus{
    color: #e29ca9;
    border: solid 1px #e29ca9;
}
.submit{
    width: 80%;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: #e29ca9;
    color: white;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.RememberPassword{
    font-size: 16px;
}
.urls{
    color: #e29ca9;
}
.para{
    color: #757575;
    height: 40px;
    line-height: 40px;
}
.submit:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.submit:active{
    background-color: pink;
}