body{
    margin: 0;
    background-color: #f1f1f1;
}
.mid_container{
    margin-left: 10%;
    margin-right: 10%;
}
@media (max-width: 700px), handheld and (orientation: landscape) {
    .mid_container{
        margin-left: 0;
        margin-right: 0;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
    }
    .top{
        background-color: #5f54f0;
        padding: 20px;
        box-shadow: #c4c4c4 0px 5px 5px;
    }
    .top h1{
        text-align: center;
        color: white;
        font-size: 36px;
    }
    .foot_menu{
        text-align: center;
        background-color: white;
        padding: 20px;
        box-shadow: #c4c4c4 0px 5px 5px;
    }
    a.go{
        transition: 200ms;
        padding: 10px;
        background-color: #5f54f0;
        color: white;
        box-shadow: #c4c4c4 0px 5px 5px;
        border-radius: 10%;
        text-decoration: none;
    }
    a.go:hover{
        transition: 200ms;
        background-color: white;
        box-shadow: #5f54f0 0px 5px 5px;
        color: black;
    }
    .grid-friend{
        box-shadow: #c4c4c4 0px 5px 5px;
        margin: 5px;
        padding: 20px;
        background-color: white;
        text-align: center;
    }
    .grid-friend h1{
        font-size: 18px;
    }
    .grid-friend img{
        margin-left: 40%;
        margin-right:40%;
        width: 20%;
        border-radius: 100%;
        box-shadow: #c4c4c4 0px 5px 5px;
    }
    .grid-friend p{
        font-size: 14px;
    }
}
@media (min-width: 700px), handheld and (orientation: landscape) {
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
    .top{
        background-color: #5f54f0;
        padding: 20px;
        box-shadow: #c4c4c4 0px 5px 5px;
    }
    .top h1{
        text-align: center;
        color: white;
        font-size: 36px;
    }
    .foot_menu{
        text-align: center;
        background-color: white;
        padding: 20px;
        box-shadow: #c4c4c4 0px 5px 5px;
    }
    a.go{
        transition: 200ms;
        padding: 10px;
        background-color: #5f54f0;
        color: white;
        box-shadow: #c4c4c4 0px 5px 5px;
        border-radius: 10%;
        text-decoration: none;
    }
    a.go:hover{
        transition: 200ms;
        background-color: white;
        box-shadow: #5f54f0 0px 5px 5px;
        color: black;
    }
    .grid-friend{
        box-shadow: #c4c4c4 0px 5px 5px;
        margin: 5px;
        padding: 20px;
        background-color: white;
        text-align: center;
    }
    .grid-friend h1{
        font-size: 18px;
    }
    .grid-friend img{
        margin-left: 40%;
        margin-right:40%;
        width: 20%;
        border-radius: 100%;
        box-shadow: #c4c4c4 0px 5px 5px;
    }
    .grid-friend p{
        font-size: 14px;
    }
}
