/* body{
    margin:0;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
    .top{
        margin-top: 30px; 
        background-color: #5f54f0;
        text-align: center;
        box-shadow: #c4c4c4 0px 5px 5px;
        position: fixed;
        padding: 20px;
        height:80%;
        box-shadow:black 0px 1px 5px;
    }
    .friend{
        box-shadow: #c4c4c4 0px 5px 5px;
        margin-top: 10px;
        padding: 20px;
        background-color: white;
        margin-bottom: 10px;
        text-align: center;
        float: right;
        width: 70%;
    }
}
.top{ 
    background-color: #5f54f0;
    text-align: center;
    box-shadow: #c4c4c4 0px 5px 5px;
    padding: 20px;
    box-shadow:black 0px 1px 5px;
}
.top h1{
    color: white;
    font-size: 48px;
}
.top a{
    transition: 200ms;
    text-decoration: none;
    padding: 10px;
    background-color: #5f54f0;
    color: white;
    border-radius: 10%;
}
.top a:hover{
    transition: 200ms;
    box-shadow: #c4c4c4 0px 10px 10px;
    background-color: white;
    color: black;
}
.friend{
    box-shadow: #c4c4c4 0px 5px 5px;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
.friend h1{
    font-size: 18px;
}
.friend img{
    margin-left: 40%;
    margin-right:40%;
    width: 10%;
    border-radius: 100%;
    border: solid #5f54f0 3px;
}
.friend p{
    font-size: 14px;
}
.friend a{
    transition: 200ms;
    padding: 10px;
    background-color: #5f54f0;
    color: white;
    box-shadow: #c4c4c4 0px 5px 5px;
    border-radius: 10%;
    text-decoration: none;
}
.friend a:hover{
    transition: 200ms;
    background-color: white;
    box-shadow: #5f54f0 0px 5px 5px;
    color: black;
} */
